body {
	background-color: lightblue;
	/* blue is my favorite */

}

h1 {color: white; text-align: center;
}
h2 {color: orange; text-align: center;
}

p {color: black; font-size: 14px;
	
	
}Document */

